{
    "namespace":"dev",
    "project":"battleship-bootstrap",
    "profile":"default",
    "region":"us-east-1",
    "parameters":{
        "MasterAccount":"",
        "GameArchiveBucket":""
    }
}

